body {
  background-color: lightcyan;
}
a,
span {
  padding: 2px;
  margin-left: 5px;
  border: #fa6400 1px solid;
  border-radius: 3px;
}
li {
  margin-top: 10px;
}
.header p {
  font-family: Arial, Helvetica, sans-serif;
}
.header {
  overflow: hidden;

  padding: 20px 10px;
  background-image: url(/kazimierz.jpg);
  background-size: cover;
  background-position: center center;
}

/* Style the header links */
.header p {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 36px;
  line-height: 25px;
  border-radius: 4px;
}
#map {
  height: 80vh;
  width: 80vw;
  border: solid 1px black;
}
.add_place {
  margin: 5px;
  padding: 5px;
  border: black 1px solid;
}
button {
  margin: 5px 5px;
}
input {
  margin: 5px 5px;
}
.btn-group {
  margin-left: 10px;
}
.btn {
  padding: 20px;
}
